<!-- Name: Lakshay
     ID - 301279369-->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Services</title>
    <style>
        body {
            font-family: 'Arial', sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f4f4f4;
            color: #333;
        }

        header {
            background-color: #2C3E50;
            color: #fff;
            padding: 1em 0;
            text-align: center;
            box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
        }

        nav {
            background-color: #fff;
            padding: 1em;
            text-align: center;
            box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
        }

        nav a {
            margin: 0 15px;
            color: #2C3E50;
            text-decoration: none;
            font-weight: 600;
        }

        section {
            padding: 2em;
            display: flex;
            justify-content: space-around;
            flex-wrap: wrap;
        }

        .service {
            background-color: #fff;
            margin: 1em;
            padding: 1.5em;
            border-radius: 8px;
            box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.1);
            width: 30%;
            text-align: center;
            transition: transform .2s;
        }

        .service:hover {
            transform: scale(1.05);
        }

        img {
            max-width: 60%;
            height: auto;
            border-radius: 8px;
            margin-bottom: 1em;
        }

        h1, h2 {
            color: #2C3E50;
        }

        p {
            color: #7f8c8d;
        }
    </style>
</head>

<body>
    <header>
        <h1>Services</h1>
    </header>
    <nav>
        <a href="/">Home</a>
        <a href="/Project">Projects</a>
        <a href="/about">About</a>
        <a href="/contact">Contact</a>

    </nav>
    <section>
        <div class="service">
            <img src="img/AI.jpg" alt="Service 1">
            <h2>AI</h2>
            <p>I offer general programming services, working with various programming languages and technologies to develop efficient and effective solutions for your needs.</p>
        </div>
        <div class="service">
            <img src="img/Wev.jpg" alt="Service 2">
            <h2>Web Development</h2>
            <p>Specializing in creating responsive and user-friendly websites, I provide web development services for personal, business, and e-commerce sites.</p>
        </div>
        <div class="service">
            <img src="img/System.png" alt="Service 3">
            <h2>Systems Design</h2>
            <p>Offering comprehensive systems design services, I specialize in architecting robust and scalable systems that effectively meet the needs of the project.</p>
        </div>
    </section>
</body>

</html>
